body {
    background-color: yellow;
}

.hidden {
    display: none;
}


/* Items */
.items {
    margin: 30px auto 0 auto;
    max-width: 1140px;
    position: relative;
}

.items li {   
    width: 190px;
}

.items .image {
    width: 188px;
    height: 190px;
    border: 1px solid #dedede;
}

.items .details {
    max-width: 190px;
    padding: 10px 15px; 
}

.items .details article h1 {
    font-size: 16px;
    color: #888; 
}

.items .details img {
    width: 49px;
    height: 49px;
    border: 1px solid #ccc;
}

.items .details p {
    padding: 10px 0;
    font-size: 11px;
    line-height: 15px;
}

.items .details .buy-now {
    color: #FFF;
    display: block;
    max-width: 68px;
    margin-top: 10px;
}

.items .details .img-big {
    position: absolute;
    top: 0;
    width: 284px;
    height: 284px;
    left: 220px;
    border-left: none;
}



/* Item */
.item.active {
    // width: 100%;
}

.item.active .details {
    width: 100%;
    background-color: rgba(212, 212, 212, 0.14);
    position: relative;
    border: 1px solid #dedede;
    border-right: none;
    // left: 0;
}