<article>
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <img class="thumbail" data-image="1" src="{{image1}}">
    <img class="thumbail" data-image="2" src="{{image2}}">
    <img class="thumbail" data-image="3" src="{{image3}}">
    <a data-id="{{id}}" class="buy-now ch-btn ch-btn-small" href="{{link}}">Comprar ya!</a>
    
    <div class="image-viewer">
        <img src="{{image1}}" class="img-big">
    </div>
</article>